thead
  tr
    th scope="col" #
    th scope="col" Player
    th.leaderboard__head scope="col"
      span.leaderboard__head-label Games
      span.leaderboard__head-icon
        button.leaderboard__head-trigger type="button" aria-label="Games played" data-tooltip-text="Games played" data-tooltip-position="left"
          i.li.li-spade.icon
    th.leaderboard__head scope="col"
      span.leaderboard__head-label Won
      span.leaderboard__head-icon
        button.leaderboard__head-trigger type="button" aria-label="Games won" data-tooltip-text="Games won" data-tooltip-position="left"
          i.li.li-trophy.icon
    th.leaderboard__head scope="col"
      span.leaderboard__head-label W/L
      span.leaderboard__head-icon
        button.leaderboard__head-trigger type="button" aria-label="Win loss ratio" data-tooltip-text="Win / loss ratio" data-tooltip-position="left"
          i.li.li-percent.icon
    th.leaderboard__head scope="col"
      span.leaderboard__head-label Time Played
      span.leaderboard__head-icon
        button.leaderboard__head-trigger type="button" aria-label="Total time played" data-tooltip-text="Total time played" data-tooltip-position="left"
          i.li.li-clock.icon
