.leaderboard__sort
  .segmented-control.segmented-control--large.segmented-control--full-width
    - Leaderboard::SORT_OPTIONS.each do |column, label|
      = sort_link search, column, label, { page: nil, class: 'segmented-control__label', default_order: 'desc' }
