.page
  = render 'leaderboard_sort', sort: sort, per_page: per_page
  header.content-header
    .content-header__details
      .content-header__title Leaderboard
    p.leaderboard-standing
      | You're
      strong = " ##{your_rank} "
      | of
      strong = " #{@rows.total_count} "
      | players
    .divider.divider--medium

  .page__content
    table.table.table--fixed-layout.table--sticky-header.leaderboard
      colgroup
        col.leaderboard__col-rank
        col
        col.leaderboard__col-stat
        col.leaderboard__col-stat
        col.leaderboard__col-stat.leaderboard__col-stat--ratio
        col.leaderboard__col-stat.leaderboard__col-stat--time
      = render 'leaderboard_head'
      tbody
        - @rows.each do |row|
          = render 'leaderboard_row', row: row
    .leaderboard__pagination
      = render 'leaderboard_per_page', per_page: per_page, sort: sort
      == paginate @rows
