dialog.modal id="history-#{game.id}-dialog" data-testid='history-column'
  .modal__header
    | #{game.name}
  .modal__body
    .op-stack
      .text-pair.text-pair--inline
        .text-pair__title Played:
        .text-pair__subtitle #{game.started_at.strftime("%B %-d, %Y")}

      .text-pair.text-pair--inline
        .text-pair__title Game Length:
        .text-pair__subtitle #{game.formatted_time}

      .text-pair.text-pair--inline
        .text-pair__title Winner:
        .text-pair__subtitle #{game.winner.user.name} #{game.winner.user.country_flag}

      .text-pair.text-pair--inline
        .text-pair__title Game size:
        .text-pair__subtitle #{game.game_size}
  .modal__footer
    = link_to "View Game", game_path(game), class: 'btn btn--active'
    form method='dialog'
      = button_tag 'Close', class: 'btn'
