.page
  header.content-header
    .content-header__details
      h1 History
    .divider.divider--medium

  .page__content
    table.table.table--fixed-layout.table--sticky-header.history-ledger
      thead
        tr
          th scope="col" Game
          th scope="col" Played
          th scope="col" Size
          th scope="col" Winner
          th scope="col" Length
          th scope="col"
      tbody
        - @games.each do |game|
          = render 'history_row', game: game
    - @games.each do |game|
      = render 'history_dialog', game: game
    = render 'application/pager', url: history_games_path, per_page: per_page, per_page_options: Game::PER_PAGE_OPTIONS, hidden_params: {}, collection: @games
