.filter-drawer {
  .filter-drawer__title {
    margin: 0;
    font-weight: var(--op-font-weight-semi-bold);
  }

  .filter-drawer__form {
    display: flex;
    flex-direction: column;
    gap: var(--op-space-medium);
  }

  .filter-drawer__field {
    display: flex;
    flex-direction: column;
    gap: var(--op-space-x-small);
  }

  .filter-drawer__field-label {
    display: flex;
    justify-content: space-between;
    font-weight: var(--op-font-weight-semi-bold);
  }

  .filter-drawer__field-output {
    font-variant-numeric: tabular-nums;
    font-weight: var(--op-font-weight-regular);
    color: var(--op-color-neutral-on-plus-max-alt);
  }

  .filter-drawer__apply {
    margin-block-start: var(--op-space-small);
  }
}
