.game-board {
  display: grid;
  grid-template-rows: auto 1fr auto;
  height: 100dvh;
  width: 100%;
  background-color: var(--op-color-neutral-plus-max);
  overflow: hidden;
  overflow: clip;

  .game-board__board {
    position: relative;
    display: grid;
    grid-template-columns: calc(var(--op-size-unit) * 78) 1fr; /* 312px */
    gap: var(--op-space-medium);
    padding: var(--op-space-medium);
    overflow-y: auto;
    overflow-x: hidden;
    background-color: var(--op-color-neutral-plus-seven);
    width: 100%;
    box-sizing: border-box;
  }

  .game-board__left-col {
    display: flex;
    flex-direction: column;
    gap: var(--op-space-small);
    height: min-content;
    overflow: hidden;
    width: 100%;
    box-sizing: border-box;
  }

  .game-board__tab-group {
    display: none;

    .tab {
      flex: 1;
      gap: var(--op-space-2x-small);
    }
  }

  .game-board__board-main {
    position: relative;
    display: block;
    overflow: hidden;
    width: 100%;
    box-sizing: border-box;
  }
}

/* --op-breakpoint-small */
@media (width <= 768px) {
  .game-board {
    .game-board__board {
      grid-template-columns: 1fr;
      grid-template-rows: auto 1fr;
      padding: var(--op-space-small);
      gap: var(--op-space-small);
    }

    .game-board__panel {
      grid-row: 2;
      grid-column: 1;
      display: none;
      width: 100%;
      box-sizing: border-box;

      &.game-board__panel--active {
        display: flex;
        flex-direction: column;
      }
    }

    .game-board__tab-group {
      display: flex;
      gap: var(--op-space-2x-small);
    }

    .game-board__left-col {
      flex-direction: column;
    }

    .game-board__board-main {
      height: 100%;
    }
  }
}
