.page {
  inline-size: 100%;
  margin-block: 0;
  margin-inline: auto;
  max-inline-size: var(--op-breakpoint-medium);
  padding-block: 0;
  padding-inline: var(--op-space-large);
  border-inline: solid var(--op-border-width) var(--op-color-border);

  .page__content {
    padding-inline: var(--op-space-medium);
    display: flex;
    flex-direction: column;
    gap: var(--op-space-large)
  }

  .page__section {
    background-color: var(--op-color-neutral-plus-max);
    color: var(--op-color-neutral-on-plus-max);
    box-shadow: var(--op-shadow-medium);
    padding: var(--op-space-large)
  }

  .page__subtitle {
    font-size: var(--op-font-x-large);
    font-weight: var(--op-font-weight-semi-bold);
    margin-block-end: var(--op-space-large);
  }

  .page__paragraph {
    font-size: var(--op-font-medium);
  }
}
