@import url('https://cdn.jsdelivr.net/npm/@rolemodel/optics@2.3.1/dist/css/optics+lucide_icons.min.css');


body {
  overflow: hidden;
  background-color: var(--op-color-neutral-plus-max);
}

p, a {
  padding: none;
  margin: none;
  text-decoration: none;
  color: inherit
}

html {
  scrollbar-color: var(--op-color-primary-plus-four) var(--op-color-neutral-plus-seven);
}

