body {
  overflow: hidden;
  overflow: clip;
  overscroll-behavior: none;
  height: 100dvh;
  background-color: var(--op-color-neutral-plus-max);
}

p, a {
  padding: 0px;
  margin: 0px;
  text-decoration: none;
  color: inherit;
}

html {
  height: 100%;
  overflow: hidden;
  overflow: clip;
  overscroll-behavior: none;
  scrollbar-color: var(--op-color-primary-plus-four) var(--op-color-neutral-plus-seven);
}
