body {
  overflow: hidden;
  background-color: var(--op-color-neutral-plus-max);
}

p, a {
  padding: 0;
  margin: 0;
  text-decoration: none;
  color: inherit
}

html {
  scrollbar-color: var(--op-color-primary-plus-four) var(--op-color-neutral-plus-seven);
}

