.action-notice data-testid="action-notice" data-controller="action-notice" data-action-notice-message-value="#{presenter.action_notice}" aria-live="polite"
  p.action-notice__text data-action-notice-target="text"
