.feed-drawer__scrim data-game-board-target="feedScrim" data-action="click->game-board#closeFeed"

aside.side-panel.side-panel--border-left.feed-drawer data-game-board-target="feedDrawer" aria-label="Play-by-play feed"
  .side-panel__header.side-panel__header--padded
    h2.feed-drawer__title Play-by-play
    button.btn.btn--icon type="button" aria-label="Close feed" data-action="click->game-board#closeFeed"
      i.li.li-x.icon.icon--small
  .side-panel__body.side-panel__body--padded.feed-drawer__log
    - presenter.feed.each do |entry|
      .feed-drawer__entry
        span.feed-drawer__entry-time = entry[:time]
        = entry[:text]
