.player-list__player
  .player-list__player-row
    span.player-list__player-flag = player[:flag]
    = render "truncated_text", text: player[:name], position: "right", additional_class: "player-list__player-name"
    - if player[:melded]
      span.badge.badge--notice.player-list__player-melded
        i.li.li-check.icon.icon--x-small
        | Melded
    p.player-list__player-count = player[:hand_size]
  .player-list__mini-fan
    = render "card_collection", hand: player[:mini_hand], modifier: " player-list__mini-card", back: true
    - if player[:overflow].to_i > 0
      span.player-list__mini-fan-count = "+#{player[:overflow]}"
