.game-board data-controller="game-board-tabs slide-drawer game-board-selection" data-game-board-selection-awaiting-draw-value="#{presenter.awaiting_draw}"
  = render "game_board_toast", presenter: presenter
  = render "board_topbar", presenter: presenter

  .game-board__board
    .tab-group.game-board__tab-group
      button.tab.tab--active type="button" data-tab="melds" data-game-board-tabs-target="tab" data-action="click->game-board-tabs#switchTab"
        | Melds
      button.tab type="button" data-tab="players" data-game-board-tabs-target="tab" data-action="click->game-board-tabs#switchTab"
        | Players

    .game-board__left-col.game-board__panel data-panel="players" data-game-board-tabs-target="panel"
      aside.card.card--shadow-medium.player-list
        h2.card__header.player-list__heading Players
        .card__body
          - presenter.opponents.each do |player|
            = render "game_board_player", player: player

    .game-board__board-main.game-board__panel.game-board__panel--active data-panel="melds" data-game-board-tabs-target="panel"
      = render "game_board_piles", presenter: presenter
      .meld-list
        - presenter.melds.each_with_index do |meld, index|
          button.meld type="button" data-testid="meld" disabled=meld[:full] data-meld-index="#{index}" data-action="click->game-board-selection#layOff"
            = render "card_collection", hand: meld[:cards], modifier: " meld__card", back: false

  = render "game_board_hand", presenter: presenter
  = render "game_board_feed", presenter: presenter
  = render "game_board_game_over", presenter: presenter
