.alert-banner.alert.alert--warning.alert--muted data-testid="error-toast" data-controller="game-board-toast" data-game-board-toast-message-value="#{presenter.error}"
  i.li.li-alert-triangle.icon.alert__icon
  .alert__messages
    .alert__title Error
    p.alert__description data-game-board-toast-target="description"
  button.btn.btn--icon.btn--no-border type="button" aria-label="Dismiss error" data-action="click->game-board-toast#close"
    i.li.li-x.icon.icon--small
