.game-board data-controller="game-board" data-game-board-awaiting-draw-value="#{presenter.awaiting_draw}"
  = render "game_board_toast", presenter: presenter
  header.board-topbar
    .board-topbar__left
      a.board-topbar__back href="#" aria-label="Back"
        i.li.li-move-left.icon.icon--x-large
      span.board-topbar__name = presenter.name
      span.badge.badge--primary
        i.li.li-tag.icon.icon--small
        = presenter.game_type
    .board-topbar__right
      span.board-topbar__stock-count
        i.li.li-layers.icon.icon--small
        | Stock: #{presenter.stock_count}
      span.badge class=(presenter.your_turn ? "badge--notice" : "badge--primary")
        i.li.li-circle.icon.icon--small
        = presenter.turn_label

  .game-board__board
    .tab-group.game-board__tab-group
      button.tab.tab--active type="button" data-tab="melds" data-game-board-target="tab" data-action="click->game-board#switchTab"
        | Melds
      button.tab type="button" data-tab="players" data-game-board-target="tab" data-action="click->game-board#switchTab"
        | Players
      button.btn.btn--icon type="button" aria-label="Open play-by-play feed" data-action="click->game-board#openFeed"
        i.li.li-list.icon.icon--small
      - if presenter.winner_name.present?
        button.btn.btn--icon type="button" aria-label="View game results" commandfor="game-over-modal" command="show-modal"
          i.li.li-trophy.icon.icon--small

    .game-board__left-col.game-board__panel data-panel="players" data-game-board-target="panel"
      aside.card.card--shadow-medium.player-list
        h2.card__header.player-list__heading Players
        .card__body
          - presenter.opponents.each do |player|
            = render "game_board_player", player: player

      button.btn.game-board__launcher type="button" data-action="click->game-board#openFeed"
        i.li.li-list.icon.icon--small
        | Feed
      - if presenter.winner_name.present?
        button.btn.game-board__launcher type="button" commandfor="game-over-modal" command="show-modal"
          i.li.li-trophy.icon.icon--small
          | View results

    .game-board__board-main.game-board__panel.game-board__panel--active data-panel="melds" data-game-board-target="panel"
      = render "game_board_piles", presenter: presenter
      .meld-list
        - presenter.melds.each_with_index do |meld, index|
          button.meld type="button" data-testid="meld" disabled=meld[:full] data-meld-index="#{index}" data-action="click->game-board#layOff"
            = render "card_collection", hand: meld[:cards], modifier: " meld__card", back: false

  = render "game_board_hand", presenter: presenter
  = render "game_board_feed", presenter: presenter
  = render "game_board_game_over", presenter: presenter
