.card.card--shadow-small.card-piles
  .card-piles__pile
    span.card-piles__pile-label Stock
    = simple_form_for @game.turn_class.new(game: @game, user: current_user), url: game_turns_path(@game), method: :post do |f|
      = f.input :action, as: :hidden, input_html: { value: 'draw' }
      = f.input :source, as: :hidden, input_html: { value: 'stock' }
      = image_submit_tag "cards/back.svg", class: "playing-card playing-card card-piles__pile-card", alt: "Draw from stock"
  .card-piles__pile
    span.card-piles__pile-label Discard
    - if presenter.discard_top
      = simple_form_for @game.turn_class.new(game: @game, user: current_user), url: game_turns_path(@game), method: :post do |f|
        = f.input :action, as: :hidden, input_html: { value: 'draw' }
        = f.input :source, as: :hidden, input_html: { value: 'discard' }
        = image_submit_tag "cards/#{presenter.discard_top}.svg", class: "playing-card playing-card card-piles__pile-card", alt: "Draw from discard"
    - else
      .card-piles__pile-card.card-piles__pile-card--empty
        | Empty
