.player-list__player class=("player-list__player--current-turn" if player[:current_turn])
  .player-list__player-row
    img.avatar.avatar--small.player-list__player-avatar src="#{player[:avatar_url]}" alt=""
    .player-list__player-name-block
      = render "truncated_text", text: player[:name], position: "right", additional_class: "player-list__player-name"
      - if player[:last_action].present?
        = render "truncated_text", text: player[:last_action], position: "right", additional_class: "player-list__player-last-action"
    .player-list__player-status
      - if player[:melded]
        button.player-list__player-melded type="button" data-tooltip-text="Melded" data-tooltip-position="top" data-testid="player-melded-badge"
          i.li.li-check.icon.icon--x-small
      .player-list__mini-fan
        = render "card_collection", hand: player[:mini_hand], modifier: " player-list__mini-card", back: true, testid: "opponent-hand-card"
        - if player[:overflow].to_i > 0
          span.player-list__mini-fan-count data-testid="opponent-hand-overflow" = "+#{player[:overflow]}"
