- suits = %w[♠ ♥ ♦ ♣].freeze

.page
  header.content-header
    .content-header__details
      h1 Stats
    .divider.divider--medium

  .page__content
    table.table.table--auto-layout.stats-ledger
      thead
        tr
          th Game
          th Played
          th Won
          th Lost
          th Win Rate
          th Time Played
          th Avg. Length
          th First Played
      tbody
        = render 'stats_ledger_row', card: @presenter.overall, icon: nil
        - @presenter.cards.each_with_index do |card, index|
          = render 'stats_ledger_row', card: card, icon: suits[index % suits.size]
